html, body{
	font-family: 'Dosis', sans-serif;
	position: relative;
	width: 100%;
	height: 100%;
	background-color: #FFFFFF;
}


.wrapper{
	position: relative;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center top;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.obj-centrar{
	position: relative;
	margin: 0 auto;
	text-align: center;
}

.link-altavoz{
	outline: none;
	display: inline-block;
	text-decoration: none;
}

.mayusculas{
	text-transform: uppercase;
}

.obj-centrar{
	position: relative;
	margin: 0 auto;
}

.login-box{
}

.borde-recto{
	border-radius: 0px;
}

.btn-plano{
	background-image: none !important;
	border-radius: 0px !important;
}

.btn-goapp-gradiente,
#main-table-box .form-button-box .btn,
#main-table-box input[type=button],
#main-table-box .qq-upload-button,
#main-table-box .ui-widget-header{
	background: -moz-linear-gradient(270deg, rgba(153,218,255,1) 0%, rgba(0,128,128,1) 100%); /* ff3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(153,218,255,1)), color-stop(100%, rgba(0,128,128,1))); /* safari4+,chrome */
	background: -webkit-linear-gradient(270deg, rgba(153,218,255,1) 0%, rgba(0,128,128,1) 100%); /* safari5.1+,chrome10+ */
	background: -o-linear-gradient(270deg, rgba(153,218,255,1) 0%, rgba(0,128,128,1) 100%); /* opera 11.10+ */
	background: -ms-linear-gradient(270deg, rgba(153,218,255,1) 0%, rgba(0,128,128,1) 100%); /* ie10+ */
	background: linear-gradient(180deg, rgba(153,218,255,1) 0%, rgba(0,128,128,1) 100%); /* w3c */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99DAFF', endColorstr='#008080',GradientType=0 ); /* ie6-9 */
	color: #FFFFFF;
	text-shadow: none;
	border-radius: 5px;
	border: none;
}
.btn-goapp-gradiente:hover,
.btn-goapp-gradiente:focus,
.btn-goapp-gradiente:active,
#main-table-box .form-button-box .btn:hover,
#main-table-box .form-button-box .btn:focus,
#main-table-box .form-button-box .btn:active,
#main-table-box input[type=button]:hover,
#main-table-box input[type=button]:active,
#main-table-box input[type=button]:focus,
#main-table-box .qq-upload-button:hover,
#main-table-box .qq-upload-button:active,
#main-table-box .qq-upload-button:focus{
	background: -moz-linear-gradient(270deg, rgba(153,218,255,1) 18%, rgba(105,190,215,1) 31%, rgba(0,128,128,1) 60%, rgba(0,128,128,1) 82%); /* ff3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(18%, rgba(153,218,255,1)), color-stop(31%, rgba(105,190,215,1)), color-stop(60%, rgba(0,128,128,1)), color-stop(82%, rgba(0,128,128,1))); /* safari4+,chrome */
	background: -webkit-linear-gradient(270deg, rgba(153,218,255,1) 18%, rgba(105,190,215,1) 31%, rgba(0,128,128,1) 60%, rgba(0,128,128,1) 82%); /* safari5.1+,chrome10+ */
	background: -o-linear-gradient(270deg, rgba(153,218,255,1) 18%, rgba(105,190,215,1) 31%, rgba(0,128,128,1) 60%, rgba(0,128,128,1) 82%); /* opera 11.10+ */
	background: -ms-linear-gradient(270deg, rgba(153,218,255,1) 18%, rgba(105,190,215,1) 31%, rgba(0,128,128,1) 60%, rgba(0,128,128,1) 82%); /* ie10+ */
	background: linear-gradient(180deg, rgba(153,218,255,1) 18%, rgba(105,190,215,1) 31%, rgba(0,128,128,1) 60%, rgba(0,128,128,1) 82%); /* w3c */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99DAFF', endColorstr='#008080',GradientType=0 ); /* ie6-9 */
	color: #FFFFFF;
	text-shadow: none;
}

.flexigrid div.mDiv{
	background-image: none;
	background-color: #226f77;
	color: #FFFFFF;
	border: none;
	font-weight: normal;
	font-size: 18px;
}

.form-field-box.even,
.flexigrid tr.erow td{
	background-color: #e7f1f2;
}
.flexigrid div.mDiv div.ptogtitle span,
.flexigrid div.mDiv div.ptogtitle.vsble span{
	border: none;
	background-color: #FFFFFF;
	color: #226f77;
}

.btn-altavoz{
	text-transform: uppercase;
	background-color: #44A5B6;
	color: #FFFFFF;
	border: 1px solid #FFFFFF;
	border-radius: 0px;
	margin-top: 5px;
	margin-bottom: 5px;
	width: 100%;
	background-image: none;
}

.input-altavoz{
	font-family: 'Dosis', sans-serif;
	font-weight: 500;
	background-color: #FFFFFF;
	border-radius: 0px !important;

	border-color: #44A5B6;
}
#frm-login .input-group-addon{
	border-radius: 0px;	
	background-color: #FFFFFF;
	border-color: #44A5B6;
	color: #44A5B6;
}

#frm-login fieldset .input-group{
	border-radius: 0px;
}

.altavoz-navbar-brand{
	padding-top: 0px;
    padding-bottom: 0px;
}

.navbar-altavoz{
	/*background-image: url("../img/textura.jpg");*/
	background-position: left top;
	border-color: #bce8f1;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.navbar-brand img.img-brand-altavoz{
	clear: both;
	height: 50px;
	margin-right: 5px;
	text-align: center;
}

.main-menu-wb > li > a,
div.flexigrid a{
	color: #000000;
}

.main-menu-wb > li > a:hover,
.main-menu-wb > li > a:focus,
div.flexigrid a:hover,
div.flexigrid a:focus{
	color: #44A5B6;
	font-weight: bold;
}

.flexigrid div.bDiv tr:hover td,
.flexigrid div.bDiv tr:hover td.sorted,
.flexigrid div.bDiv tr.trOver td.sorted,
.flexigrid div.bDiv tr.trOver td{
	background: #FFFF00;
    border-left: 1px solid #FFFF00;
	border-bottom: 1px dotted #A8EBA9;
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:hover,
.nav-pills>li.active>a:focus{
	background-color: #44A5B6;
}

.quickSearchBox{
	/*display: none;*/
}

.box-header{
	background-image: none;
	background-color: #d9edf7;
    border-color: #bce8f1;
	color: #44A5B6;
}

.flexigrid div.fbutton{
	color: #FF3300;
}

div.form-div input.time-input
{
	width:100px !important;
}

.altavoz-sidebar-nav,
.altavoz-box-inner{
    box-shadow: none;
    border-radius: 0px;
    border: 1px solid #44A5B6;
    background-color: #FFFFFF;
}

/*
///////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////
*/



/*Media Querys*/
/* Large desktop */
@media (min-width: 1921px) {

}

@media (min-width: 1200px) {

}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) { 

}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	html, body{
		position: relative;
		height: auto;
	}
}
 
/* Landscape phones and down */
@media (max-width: 480px) {
	html, body{
		position: relative;
		height: auto;
	}
}


input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
   
}

/* Firefox 18- */
input:-moz-placeholder,
textarea:-moz-placeholder {
   
}

/* Firefox 19+ */
input::-moz-placeholder,
textarea::-moz-placeholder {
   
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
   
}


.ms-auto{
	margin: auto;
}